<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <th:block th:fragment="job-table">
        <table class="table job-listing">

            <tr th:each="job : ${jobs}">
                <td>

                    <label>ID:
                        <em>
                                <span style="font-weight:normal;"
                                      th:text="${job.id}">
                                </span>
                        </em>
                    </label><br>


                    <label>Name:
                        <em>
                                <span style="font-weight:normal;"
                                      th:text="${job.name}">
                                </span>
                        </em>
                    </label><br>

                    <label>Employer:
                        <em>
                            <a style="font-weight:normal;"
                               th:href="@{/list/jobs(column='employer',value=${job.employer})}"
                               th:text="${job.employer}">
                            </a>
                        </em>
                    </label><br>

                    <label>Location:
                        <em>
                            <a style="font-weight:normal;"
                               th:href="@{/list/jobs(column='location',value=${job.location})}"
                               th:text="${job.location}">
                            </a>
                        </em>
                    </label><br>

                    <label>Position Type:
                        <em>
                            <a style="font-weight:normal;"
                               th:href="@{/list/jobs(column='positionType',value=${job.positionType})}"
                               th:text="${job.positionType}">
                            </a>
                        </em>
                    </label><br>

                    <label>Skill:
                        <em>
                            <a style="font-weight:normal;"
                               th:href="@{/list/jobs(column='coreCompetency',value=${job.coreCompetency})}"
                               th:text="${job.coreCompetency}">
                            </a>
                        </em>
                    </label>

                </td>
            </tr>
        </table>
    </th:block>

</body>
</html>