<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table class="table job-listing">

            <tr th:each="job : ${jobs}">
                <td>
                    <span th:text="'ID: ' + ${job.id}"></span><br>
                    <span th:text="'Name: ' + ${job.name}"></span><br>
                    <span th:text="'Employer: ' + ${job.employer}"></span><br>
                    <span th:text="'Location: ' + ${job.location}"></span><br>
                    <span th:text="'Position Type: ' + ${job.positionType}"></span><br>
                    <span th:text="'Skill: ' + ${job.coreCompetency}"></span>
                </td>
            </tr>

    </table>

</div>

</body>
</html>